/*----- Toggle Button -----*/
#toggle-nav {
  display: none;
  color: rgb(255, 150, 5);
  font-weight: bold;
  text-decoration: none;
  margin-top: 3px;
  transition: color linear 0.15s;
  transition: rotate ease 0.5s;
}
/*-------------------------*/

/*----- Navigation Bar -----*/
.navigationBar {
  position: fixed; 
  top: 0;
  width: 100%;
  overflow: hidden;
  color: rgb(0, 0, 0);
  height: 60px;
  box-shadow: 0 0 10px rgba(24, 24, 24, 0.6);    
  background: rgba(245, 245, 245, 0.9);
  -webkit-backdrop-filter: blur(5px);
  /* -webkit-backdrop-filter: saturate(180%) blur(20px); */
  /* background: linear-gradient(to right, rgba(241, 192, 5, 0.9), rgba(241, 148, 1, 0.9)); */
  transition: height ease 0.5s;
}

.navigationBar .nb-content {
  margin: auto; /* Centered */
  padding: 16px 25px 14px 25px;
  max-width: 900px;
  height: 30px; /* height + vertical paddings = .navigationBar height (60px) */
  position: relative;
 }

.navigationBar .nb-title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: .015em;
  cursor: default;
  display: block;
  float: left;
  margin: 0;
  white-space: nowrap
}

.navigationBar .nb-menu {
  float: right;
  padding-top: 9px;
}

.navigationBar .nb-menu-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigationBar .nb-menu-item {
  margin-left: 24px;
  float: left; /* Horizontal menu */
}

.navigationBar .nb-title-link {
  color: rgb(255, 150, 5);
  text-decoration: none;
}

.navigationBar .nb-menu-link {
  color: rgb(255, 150, 5);
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
  transition: color linear 0.15s;
}

.navigationBar .nb-menu-link:hover, #toggle-nav:hover, .nb-menu-link.nb-menu-link-current {
  text-decoration: none;
  color: rgb(46, 5, 113);
}

.navigationBar .nb-menu-link.nb-menu-link-current {
  text-decoration: none;
  pointer-events: none;
  color: rgb(46, 5, 113);
}

/*--------------------------*/

/*----- Responsiveness -----*/
@media screen and (max-width: 600px) {
  #toggle-nav {
    display: block;
    float: right;
  }

  .navigationBar .nb-menu {
    display: none; 
  } 
  
  .navigationBar .nb-content {
    padding: 16px 15px 14px 15px;
  }
    
  .navigationBar.dropdown {
    height: 230px;
  }

  .navigationBar.dropdown .nb-content {
    padding: 16px 15 13px 14px;
    height: 210px; /* height + vertical paddings (20px) = .navigationBar height (230px) */
  }

  .navigationBar.dropdown .nb-menu {
    display:inline-block;
    padding: 0px; 
    width: 100%;
    animation: fadeIn 1s;
  }

  .navigationBar.dropdown .nb-menu-items {
    padding: 10px 32px 10px 32px;
  }

  .navigationBar.dropdown .nb-menu-item {
    float:none;
    padding: 12px 0px 12px 0px;
    border-bottom: .5px solid rgb(125, 91, 0);
    margin: 0px;
  }

  .navigationBar.dropdown .nb-menu-link {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .navigationBar.dropdown .nb-menu-item:last-child {
    border-bottom: none;
  }

  .navigationBar.dropdown #toggle-nav {
    transform: rotate(-180deg);
  } 

}
/*--------------------------*/

/*----- Animations -----*/
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0px, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
/*----------------------*/
