/*----- Toggle Button -----*/
#toggle-nav {
  display: none;
  color: rgb(51, 51, 51);
  text-decoration: none;
  margin-top: 3px;
  transition: color linear 0.15s;
  transition: rotate ease 0.5s;
}
/*-------------------------*/

/*----- Navigation Bar -----*/
.navigationBar {
  position: fixed; 
  top: 0;
  width: 100%;
  overflow: hidden;
  color: rgb(51, 51, 51);
  height: 60px;
  border-bottom: 1px solid rgb(200, 200, 200);
  background-color: rgba(240, 240, 240, 0.6); 
  transition: height ease 0.5s;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.navigationBar .nb-content {
  margin: auto; /* Centered */
  padding: 17px 25px 13px 25px;
  max-width: 900px;
  height: 30px; /* height + vertical paddings = .navigationBar height (60px) */
  position: relative;
 }

.navigationBar .nb-title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: .015em;
  cursor: default;
  display: block;
  float: left;
  margin: 0;
  white-space: nowrap
}

.navigationBar .nb-menu {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  float: right;
  padding-top: 10px;
}

.navigationBar .nb-menu-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigationBar .nb-menu-item {
  margin-left: 24px;
  float: left; /* Horizontal menu */
}

.navigationBar .nb-menu-link {
  color: rgb(51, 51, 51);
  text-decoration: none;
  transition: color linear 0.15s;
}

.navigationBar .nb-menu-link:hover, #toggle-nav:hover, .nb-menu-link-current {
  text-decoration:none;
  color: rgba(51, 51, 51, 0.6);
}

/*--------------------------*/

/*----- Responsiveness -----*/
@media screen and (max-width: 600px) {
  #toggle-nav {
    display: block;
    float: right;
  }

   .navigationBar .nb-menu {
    display: none; 
  } 

  .navigationBar.dropdown {
    height: 230px;
  }

  .navigationBar.dropdown .nb-content {
    height: 210px; /* height + vertical paddings (20px) = .navigationBar height (230px) */
  }

  .navigationBar.dropdown .nb-menu {
    display:inline-block;
    padding: 0px; 
    width: 100%;
    animation: fadeIn 1s;
  }

  .navigationBar.dropdown .nb-menu-items {
    padding: 10px 32px 10px 32px;
  }

  .navigationBar.dropdown .nb-menu-item {
    float:none;
    padding: 12px 0px 12px 0px;
    border-bottom: 1px solid rgb(200, 200, 200);
    margin: 0px;
  }

  .navigationBar.dropdown .nb-menu-link {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .navigationBar.dropdown .nb-menu-item:last-child {
    border-bottom: none;
  }

  .navigationBar.dropdown #toggle-nav {
    transform: rotate(-180deg);
  } 

}
/*--------------------------*/

/*----- Animations -----*/
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0px, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
/*----------------------*/
